  
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo-style {
    font-size: 18px;
    color: #f9faf8;
    
}
.header-link {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    background-color: #1f2937;
    display:flex;
    justify-content: space-around;

}

.main-text {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;

}

.dog-image {
    height: 300px;
    width: auto;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}